*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 0;
}
p{
    line-height: 2rem;
}
/* Debug */

.debug .card{
    min-height: 150px;
}
/* .debug .card,.debug .col{
    background: var(--debug-secondary-light-color);
} */

/* Debug fine */


/* Utility */

:root{
    --primary-color: #0084FD;
    --primary-light-color: #B5DDFF;
    --secondary-color: #9792E4;
    --debug-secondary-light-color: #BCB5EE;

    --btn-white: #fff;

    --bg-gray: #333333;
    --bg-white: #fff;
    --bg-purple: #9792E4;

    --text-gray: #5A6E7F;
    --text-black: #000;
    --text-white: #fff;
    
}

.flexed{
    display: flex;
}
.justified-sb{
    justify-content: space-between;
}
.aligned-c{
    align-items: center;
}

.btn{
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    text-decoration: none;
    display: inline-block;
}
.btn.bg-white{
    background-color: var(--btn-white);
}
.btn.bg-blue{
    background-color: var(--primary-color);
}
.btn.bg-purple{
    background-color: var(--bg-purple);
}
.btn.text-black{
    color: var(--text-black);
}
.btn.text-white{
    color: var(--text-white);
}

/* Utility end */


.container{
    max-width: calc(100% - 4rem);
    margin: auto;
}
section:nth-child(even){
    background-color: var(--secondary-color);
}

body > header{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: var(--primary-color);
}
header .menu.mobile{
    font-size: 1.5rem;
    color: var(--text-white);
}
header .container{
    height: 100%;
    padding: 1rem 0;
}
header .menu.desktop{
    display: none;
}
header ul{
    list-style: none;
}
header a{
    text-decoration: none;
    margin-left: 1rem;
    color: var(--text-white);
}

main{
    padding-top: 70px;
}

#intro .card{
    padding: 2rem;
    text-align: center;
    background-color: var(--primary-light-color);
    color: var(--text-gray);
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}
#intro .first.card{
    text-align: left;
    padding-bottom: 0;
}
#intro .first.card img{
    display: block;
    width: 100%;
    max-width: 300px;
}
#intro .btn{
    display: inline-block;
    margin: 2rem 0;
    text-decoration: none;
    padding: 0.8rem 4rem;
    font-weight: bold;
}
#intro .card h3{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
#intro .card p{
    font-weight: bold;
}
#intro .card .icon{
    color: var(--primary-color);
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

#planning{
    color: var(--text-white);
}
#planning img{
    width: 100%;
    margin-bottom: 1.5rem;
}
#planning .first-img{
    margin-top: 2rem;
}
#planning .col{
    border-radius: 1.5rem;
    padding: 2rem 0;
}
#planning h2{
    font-size: 2rem;
    margin: 4rem 0 2rem;
}
#planning .col:nth-child(2){
    color: var(--text-black);
    background-color: var(--bg-white);
    text-align: center;
}
#planning h3{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
#planning .arrow{
    display: inline-block;
    padding: 1.25rem 1.5rem;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    margin-top: 2rem;

}

#testimonials{
    text-align: center;
}
#testimonials h2{
    font-size: 1.2rem;
    font-weight: 300;
    margin: 2rem 0;
    text-transform: uppercase;
}
#testimonials p.big{
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
}
#testimonials p{
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
}
#testimonials .card{
    border-radius: 2.5rem;
    background-color: var(--secondary-color);
    color: var(--text-white);
    margin-top: 1.5rem;
    padding: 2rem 1rem;
}
#testimonials .card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
#testimonials .name{
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0;
}

#features h2{
    color: var(--text-white);
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 4rem;
}
#features .card{
    background-color: var(--bg-white);
    padding: 2rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}
#features .number{
    font-size: 2.5rem;
    color: var(--secondary-color);
    font-weight: 700;
}
#features h3{
    margin: 2rem 0;
    font-size: 1.5rem;
    color: var(--secondary-color);
}
#features p{
    color: var(--text-gray);
}
#features .btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 3rem;
    font-weight: bold;
}

#about-us{

}
#about-us h2{
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin: 3rem 0;
}
#about-us p{
    line-height: 2.5rem;
    margin-bottom: 2rem;
}
#about-us img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
#about-us .img-container{
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
}
#about-us .img-quote{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4rem;
    color: var(--secondary-color);
}
#about-us .card p{
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 700;
}
#about-us .btn{
    margin-bottom: 3rem;
}

#get-started{
    text-align: center;
}

footer{
    background-color: var(--footer-bg);
    text-align: center;
    padding: 2.5rem 0;
}
/* Responsive */

/* tablet view */
@media screen and (min-width: 768px){

    #intro .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #intro .card{
        width: calc((100% / 3) - 1rem);
    }
    #intro .first.card{
        width: calc((100% / 3)* 2 - 0.5rem);
    }

    #planning h2{
        font-size: 4rem;
        margin: 5rem 0 3rem;
    }

    #testimonials .card{
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
    }
    #testimonials .card .col{
        flex-grow: 1;
        text-align: left;
        padding: 0 1.5rem;
    }

    #features .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #features .card{
        width: calc(100% / 2 - 1rem);
        margin-top: 0;
        margin: 1rem 0;
    }
    #features h2{
        font-size: 2.5rem;
    }
    #features .number{
        font-size: 4rem;
    }
    #features h3{
        margin-top: 1rem;
    }
    
    #about-us .container{
        display: flex;
    }
    #about-us .text{
        width: 60%;
    }
    #about-us .card{
        width: 40%;
    }
    #about-us .text, #about-us .card{
        padding: 2rem;
    }
    #about-us h2{
        font-size: 4rem;
    }
    #about-us img{
        width: 250px;
        height: 250px;
    }
    #about-us .card p{
        font-size: 1.8rem;
    }
}
/* desktop view */
@media screen and (min-width: 992px){
    .container{
        max-width: calc(100% - 14rem);
    }
    header .menu.mobile{
        display: none;
    }
    header .menu.desktop{
        display: block;
    }

    #intro .first.card{
        display: flex;
    }
    #intro .first.card > *{
        width: 50%;
    }
    #intro .first.card img{
        align-self: flex-end;
        margin: 0 auto;
    }

    #planning .cols{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    #planning .col{
        width: 40%;
        padding: 2rem;
    }
    #planning .col:first-of-type{
        padding-bottom: 0;
    }
    #planning h2{
        font-size: 2rem;
        margin-top: 6rem;
    }
    #planning .right.col{
        width: 30%;
    }
    #planning .right.col img{
        width: 80%;
    }

    #features .card{
        width: calc(100% / 3 - (4 / 3) * 1rem);
    }

    #about-us .text{
        width: 70%;
    }
    #about-us .card{
        width: 30%;
    }
    #about-us p{
        font-size: 1.2rem;
        line-height: 3rem;
    }
    
}
/* wide desktop view */
@media screen and (min-width: 1200px){
    .container{
        max-width: 1200px;
    }
}